
server {
  listen 80 default_server;

  root "{{ cv_nginx_web_root }}";

  index index.html;

  charset utf-8;

  access_log "{{ cv_nginx_non_secure_log_path }}" json-log-format;

  disable_symlinks off;

  location / {
    # allows the html5 routes through to the index page to be parsed on the frontend router
    try_files $uri $uri/ /index.html;
  }
}
